.content {
    display: flex;
    justify-content: center;
}
.body-circle {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 7px 6px 13px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 13px -9px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 13px -9px rgba(0,0,0,0.75);
}

.circle {
    width: 110px;
    height: 110px;
    border: 2px solid #0B723B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.circle-text h5{
    margin: 0;
    color: green;
}
.active, .active h5, .active p{
    background-color: #0B723B;
    color: #fff;
}